<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968239611031-s2p09u87jcdb5s1sovjmspcas5dcvbhm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968239611031-s2p09u87jcdb5s1sovjmspcas5dcvbhm</string>
	<key>API_KEY</key>
	<string>AIzaSyDE44k-wrwY2aX7vfdIQdO_xiGuKhazj0w</string>
	<key>GCM_SENDER_ID</key>
	<string>968239611031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.givelyinc.test5</string>
	<key>PROJECT_ID</key>
	<string>gively-update</string>
	<key>STORAGE_BUCKET</key>
	<string>gively-update.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968239611031:ios:850bffaa826280dec97dd2</string>
	<key>DATABASE_URL</key>
	<string>https://gively-update.firebaseio.com</string>
</dict>
</plist>